pkgbase = pcloud-drive
	pkgdesc = pCloud drive. Electron edition.
	pkgver = 1.14.11
	pkgrel = 1
	url = https://www.pcloud.com/
	arch = x86_64
	license = custom
	depends = fuse2
	depends = zlib
	depends = hicolor-icon-theme
	optdepends = libappindicator-gtk3: Tray menu support
	replaces = pcloud-git
	replaces = pcloud
	options = !strip
	options = !debug
	source = LICENSE
	source = pcloud-drive-1.14.11-1.AppImage::https://p-def5.pcloud.com/cBZB5mF1iZD0HBEf7ZZZEHe3XkZ2ZZsP7ZkZQjhxVZBzZ1RZ8pZ8RZNpZCFZbQZuzZt8ZlRZP4Z9LZOYZ67ZQRe85ZHhBLr8czxik2zPGR9lGwB5a5ihrV/pcloud
	sha256sums = 9dce0249569d9dc9f00217009880458cf669a657ebb6604b4e52be4e875f1a42
	sha256sums = 5c057e6ac58c9d03f4033145e66f50dd193100b4e2bf8acb6bee8e2c26c5dd68

pkgname = pcloud-drive
