pkgbase = google-cloud-cli-gke-gcloud-auth-plugin
	pkgdesc = A google-cloud-cli component that provides a kubectl authentication plugin for GKE.
	pkgver = 529.0.0
	pkgrel = 1
	url = https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = google-cloud-cli
	depends = kubectl>=1.26
	options = !strip
	source_x86_64 = google-cloud-cli-gke-gcloud-auth-plugin-529.0.0.orig_x86_64.tar.gz::https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-gke-gcloud-auth-plugin_529.0.0.orig_amd64.tar.gz
	sha256sums_x86_64 = a62f9b873fb200ea1e034090ddbaf00694b23a319c35dc6addc6906a82716d47
	source_aarch64 = google-cloud-cli-gke-gcloud-auth-plugin-529.0.0.orig_aarch64.tar.gz::https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-gke-gcloud-auth-plugin_529.0.0.orig_aarch64.tar.gz
	sha256sums_aarch64 = 8b6bb490d3ed21556a15152f6e1029ae75b025a7a7a27f5afa799b0c37360686

pkgname = google-cloud-cli-gke-gcloud-auth-plugin
