pkgbase = wireguard-vanity-keygen-bin
	pkgdesc = WireGuard vanity key generator
	pkgver = 0.0.9
	pkgrel = 1
	url = https://github.com/axllent/wireguard-vanity-keygen
	arch = x86_64
	arch = aarch64
	arch = i686
	arch = arm
	license = MIT
	depends = glibc
	provides = wireguard-vanity-keygen
	conflicts = wireguard-vanity-keygen
	source_x86_64 = https://github.com/axllent/wireguard-vanity-keygen/releases/download/0.0.9/wireguard-vanity-keygen-linux-amd64.tar.gz
	sha256sums_x86_64 = 11175b1af6bee0f0d3d466029738f6d16a52b0c5c0d032b5dda2d6f7ce199bba
	source_aarch64 = https://github.com/axllent/wireguard-vanity-keygen/releases/download/0.0.9/wireguard-vanity-keygen-linux-arm64.tar.gz
	sha256sums_aarch64 = 9eb9c2fcaff1da6b7020b98f7997e5e5c7a3d147574f117b1a9dbe211c182401
	source_i686 = https://github.com/axllent/wireguard-vanity-keygen/releases/download/0.0.9/wireguard-vanity-keygen-linux-386.tar.gz
	sha256sums_i686 = 86ab7fca789ce0f0ab1e6d5e3f5c8b1f7e5af07b45784fbfef6b69242498cb99
	source_arm = https://github.com/axllent/wireguard-vanity-keygen/releases/download/0.0.9/wireguard-vanity-keygen-linux-arm.tar.gz
	sha256sums_arm = 0944463a733d6294b13071fe0d50efb4d8a6148fd06b1a38a41b7ca634c078cb

pkgname = wireguard-vanity-keygen-bin
