pkgbase = pcloud-drive
	pkgdesc = pCloud drive. Electron edition.
	pkgver = 1.14.10
	pkgrel = 1
	url = https://www.pcloud.com/
	arch = x86_64
	license = custom
	depends = fuse2
	depends = zlib
	depends = hicolor-icon-theme
	optdepends = libappindicator-gtk3: Tray menu support
	replaces = pcloud-git
	replaces = pcloud
	options = !strip
	options = !debug
	source = LICENSE
	source = pcloud-drive-1.14.10-1.AppImage::https://p-def7.pcloud.com/cBZ3WoUevZ77kGJu7ZZZQhNwXkZ2ZZsP7ZkZY4bxVZg4ZNQZ5QZqHZlQZRLZHYZ9RZuLZ3HZGpZh8ZU8ZgHZLHKH5ZGCK8mIVLCtzxJ5W4nmIikYPqC0V7/pcloud
	sha256sums = 9dce0249569d9dc9f00217009880458cf669a657ebb6604b4e52be4e875f1a42
	sha256sums = 209cee76dcd39b776bb6bdb7e8309ef41c739f34c3301cbe0c9c58420c302e40

pkgname = pcloud-drive
