pkgbase = pcloud-drive
	pkgdesc = pCloud drive. Electron edition.
	pkgver = 1.14.9
	pkgrel = 1
	url = https://www.pcloud.com/
	arch = x86_64
	license = custom
	depends = fuse2
	depends = zlib
	depends = hicolor-icon-theme
	optdepends = libappindicator-gtk3: Tray menu support
	replaces = pcloud-git
	replaces = pcloud
	options = !strip
	options = !debug
	source = LICENSE
	source = pcloud-drive-1.14.9-1.AppImage::https://vc1078.pcloud.com/cBZtPEyzvZln22mj7ZZZtSL9XkZ2ZZsP7ZkZ0LbxVZVLZIQZKYZN4Z5YZOYZv8ZdQZ0RZ5QZELZmYZ78ZJZjcLF5ZvcWEMNI5Ofj4sobJzmSG6uzxTjkX/pcloud
	sha256sums = 9dce0249569d9dc9f00217009880458cf669a657ebb6604b4e52be4e875f1a42
	sha256sums = 3d23849d9ce642039f1f0a6e436ac879d19a39040217b240d05ab8b034ca5d68

pkgname = pcloud-drive
