pkgbase = pcloud-drive
	pkgdesc = pCloud drive. Electron edition.
	pkgver = 1.14.8
	pkgrel = 1
	url = https://www.pcloud.com/
	arch = x86_64
	license = custom
	depends = fuse2
	depends = zlib
	depends = hicolor-icon-theme
	optdepends = libappindicator-gtk3: Tray menu support
	replaces = pcloud-git
	replaces = pcloud
	options = !strip
	options = !debug
	source = LICENSE
	source = pcloud-drive-1.14.8-1.AppImage::https://vc741.pcloud.com/cBZOomEB3Zd6YO7b7ZZZOMR5XkZ2ZZsP7ZkZ9U8xVZz8ZTzZSYZpRZz4Z1pZnLZdQZpQZEQZGQZyzZU8ZYQZxqNX5Zl0obVW38yw08WYC75aKLBjYPASKV/pcloud
	sha256sums = 9dce0249569d9dc9f00217009880458cf669a657ebb6604b4e52be4e875f1a42
	sha256sums = af86adc4eb68bc0a2e1a9f31b3894f569fc55a9bf857be156bfef74fe19451b8

pkgname = pcloud-drive
