pkgbase = beekeeper-studio-bin
	pkgdesc = Modern and easy to use SQL client for MySQL, Postgres, SQLite, SQL Server, and more
	pkgver = 5.4.1
	pkgrel = 1
	url = https://github.com/beekeeper-studio/beekeeper-studio
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	license = LicenseRef-BeekeeperStudioCommercialEULA
	depends = alsa-lib
	depends = gtk3
	depends = nspr
	depends = nss
	provides = beekeeper-studio
	noextract = beekeeper-studio-5.4.1-x86_64.tar.xz
	noextract = beekeeper-studio-5.4.1-aarch64.tar.xz
	source = LICENSE-COMMERCIAL
	sha256sums = 9e83b98f1773a830db2b30043051d4e179fea73cdb0168feb7b2965ee6075ebf
	source_x86_64 = beekeeper-studio-5.4.1-x86_64.tar.xz::https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v5.4.1/beekeeper-studio-5.4.1.pacman
	sha256sums_x86_64 = 56b34651df007582632c6d356e9c7caf9995d43ec92109e87a5f04fd1be1b902
	source_aarch64 = beekeeper-studio-5.4.1-aarch64.tar.xz::https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v5.4.1/beekeeper-studio-5.4.1-aarch64.pacman
	sha256sums_aarch64 = 948db976f44657c1d0143331ba0f9f34e9c5c576c9c7b6390705529d1eb3c8a1

pkgname = beekeeper-studio-bin
