pkgbase = google-cloud-cli-gke-gcloud-auth-plugin
	pkgdesc = A google-cloud-cli component that provides a kubectl authentication plugin for GKE.
	pkgver = 532.0.0
	pkgrel = 1
	url = https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = google-cloud-cli
	depends = kubectl>=1.26
	options = !strip
	source_x86_64 = google-cloud-cli-gke-gcloud-auth-plugin-532.0.0.orig_x86_64.tar.gz::https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-gke-gcloud-auth-plugin_532.0.0.orig_amd64.tar.gz
	sha256sums_x86_64 = 1bad591c7299e8596dc10edbd13732ff88c47aa8c1319faeb8ce7bb4edba8fc2
	source_aarch64 = google-cloud-cli-gke-gcloud-auth-plugin-532.0.0.orig_aarch64.tar.gz::https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-gke-gcloud-auth-plugin_532.0.0.orig_aarch64.tar.gz
	sha256sums_aarch64 = f54d33a324e31f8b82994102538fd809a2e0361f1c0b48bc9a2a079fa7d86f14

pkgname = google-cloud-cli-gke-gcloud-auth-plugin
