pkgbase = google-cloud-cli-gke-gcloud-auth-plugin
	pkgdesc = A google-cloud-cli component that provides a kubectl authentication plugin for GKE.
	pkgver = 526.0.1
	pkgrel = 1
	url = https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = google-cloud-cli
	depends = kubectl>=1.26
	options = !strip
	source_x86_64 = google-cloud-cli-gke-gcloud-auth-plugin-526.0.1.orig_x86_64.tar.gz::https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-gke-gcloud-auth-plugin_526.0.1.orig_amd64.tar.gz
	sha256sums_x86_64 = 9a35dcb50b760ce49aac54f94dfddbd7c17526e0b76441a7233c6e36f208d50b
	source_aarch64 = google-cloud-cli-gke-gcloud-auth-plugin-526.0.1.orig_aarch64.tar.gz::https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-gke-gcloud-auth-plugin_526.0.1.orig_aarch64.tar.gz
	sha256sums_aarch64 = 02244cff0a3f79fc5219b0c96a51b655bbfa1d277cd4d587006fb8d0529197ad

pkgname = google-cloud-cli-gke-gcloud-auth-plugin
